<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<nav class="navbar navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">Gradebook</a>
  <div class="row">
    <div class="col">
        <button class="btn btn-success" routerLink="/myclassroom">Classroom</button>
    </div>
    <div class="col">
        <button class="btn btn-success" routerLink="/grades">Grades</button>
    </div>
    <div class="col">
        <button class="btn btn-success" routerLink="/myclassroom">Students</button>
    </div>
    <div class="col">
        <button class="btn btn-success" routerLink="/myclassroom">Performace</button>
    </div>
  </div>
</nav>
