<div class="container">
  <ul *ngIf="student">
    <li>First Name: {{student.FirstName}}</li>
    <li>Middle Name/ Initial: {{student.MiddleName}}</li>
    <li>Last Name: {{student.LastName}}</li>
    <li>Birthday: {{student.DOB | date:"MM-dd-yyyy"}}</li>
    <li>Age: {{student.Age}}</li>
    <li>Grade Level: {{student.GradeLevel}}</li>
    <li>Street Address: {{student.Street_Address}}</li>
    <li>Secondary Address: {{student.Address_2}}</li>
    <li>City: {{student.City}}</li>
    <li>State: {{student.State}}</li>
  </ul>
</div>
